<div class="container mt-5 mb-5">
<%= link_to(root_path, class:"text-dark") do %>HOME<% end %> > <%= link_to(by_genre_public_post_events_path(@post_event.genre), class:"text-dark") do %><%= @post_event.genre.genre %><% end %> > <%= @post_event.title %>

 <div class="row">
  <div class="col-4">
    <% if @post_event.image.attached? %>
      <%= image_tag @post_event.image, size: "300x400" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "300x400" %>
    <% end %>
  </div>

  <div class="col-5">
    <table class="table table-borderless">
    <tr>
      <th scope="row"></th>
      <td><h5><%= @post_event.title %></h5></td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">

          <i id="favorite_<%= @post_event.id %>">
            <%= render 'public/post_events/favorite', post_event: @post_event %>
          </i>
          <button class="btn btn-light btn-circle btn-circle-sm m-1">
          <i class="fa-brands fa-twitter fa-lg" style="color: #74a7fe;"></i>
          </button>
        </div>
     </td>
    </tr>
    <tr>
      <th scope="row">メンバー</th>
      <td>
        <% @post_event.zbs.each do |zb| %>
          <span><%= zb.zb_name %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">日程</th>
      <td><%= @post_event.start_date %> 〜 <%= @post_event.end_date %></td>
    </tr>
    <tr>
      <th scope="row">開催地</th>
      <td>
        <% @post_event.places.each do |place| %>
          <span><%= place.place %></span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">詳細</th>
      <td><%= @post_event.body %></td>
    </tr>

    </table>
  </div>



  </div>
</div>
